In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFECV
from sklearn.metrics import *
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [10]:
raw = pd.read_csv('csvs/training_dataset.csv')
test = pd.read_csv('csvs/test_dataset.csv')

In [38]:
authors = raw.author.unique()
diccio = {}
for i, a in enumerate(authors):
    diccio[a]=(i+1)
raw.author=raw.author.map(diccio)

In [34]:
raw.to_csv('csvs/dataClean.csv')

In [36]:
d = pd.read_csv('csvs/dataClean.csv')
d.head()

,Unnamed: 0,id,0,1,2,3,4,5,6,7,8,9,author
0,0,0,0.142636,0.431070,0.032912,-0.486796,0.261718,-1.013906,-0.081827,0.330352,0.438262,-0.761088,1
1,1,1,0.019197,0.525284,0.068476,0.166658,0.261718,0.231839,0.635431,0.133209,0.313536,-0.002374,2
2,2,2,0.093260,-0.087108,-2.268081,-0.164963,0.261718,1.477585,0.635431,-0.370641,0.126447,1.078357,3
3,3,3,-0.017834,-0.228430,0.370770,1.293671,0.172340,-0.058835,0.446679,1.609556,2.277968,-0.172339,4
4,4,4,0.080916,-0.142067,0.171611,-0.470713,0.261718,-0.141884,-0.044076,0.375551,0.032902,0.009898,2